node_modules/
dist/
*.class
*.py[cod]
*.log
*.jar
target/
dist/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
.buildpath
.project
.settings
/vendor
/composer.phar
/composer.lock
/package.json
/package-lock.json
/codecept.phar
/phpunit.phar
/phpunit.xml
/.vagrant
.php_cs.cache
yarn.lock
github.md
.php-cs-fixer.cache
IDEYiiCodeAutocompletion.php

ToDo.md
